<header>
  <div class="px-3 py-2 bg-light text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <span class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"><i class="bi bi-person-rolodex h2 text-danger"></i><span class="h3 pl-2 text-secondary">Contacts App</span></span>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="#" class="nav-link text-secondary">
              <i class="bi bi-house"></i>
              Home
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-secondary">
              <i class="bi bi-person-rolodex"></i>
              Contact
            </a>
          </li>
        </ul>
        <span class="text-end"><i class="bi h3 text-info bi-person-circle"></i><span class="h5 pl-2 text-secondary">Welcome Karthee!</span></span>
      </div>
    </div>
  </div>
  <div class="px-3 py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-end">


      <div class="text-end">
        <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
      </div>
    </div>
  </div>
</header>
<div class="container mt-5">
  <app-contact-list></app-contact-list>
</div>
